/* DONATE */

.donate {
  position: relative;
  height: 750px;
}

.donate-card {
  position: absolute;
  right: 30px;
  top: 40px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  height: 550px;
  background-color: #ffffff;
  border-radius: 32px;
}

.donate-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.donate-box {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 16px 0px;
}

.donate-amount,
.donate-time {
  width: calc(80% / 3);
  display: flex;
  justify-content: center;
  padding: 8px 0px;
  margin: 4px;
  color: #38d9c2;
  background-color: #ffffff;
  border: #d7d8de solid 2px;
  border-radius: 8px;
  transition: all 300ms ease;
}

.donate-amount:hover,
.donate-time:hover {
  background-color: #3a3a3f;
  border: #3a3a3f solid 2px;
  color: #f8f8f8;
}

.donate-amount:focus,
.donate-time:focus {
  background-color: #3a3a3f;
  border: #3a3a3f solid 2px;
  color: #f8f8f8;
}

.donate-message {
  display: flex;
  flex-direction: column;
}

.donate-p {
  padding: 8px 5%;
}

.donate-number {
  width: 50%;
  margin-left: 4px;
  border: #d7d8de solid 2px;
  border-radius: 4px;
}

.donate-text {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  padding: 4px;
  border: #d7d8de solid 2px;
  border-radius: 4px;
  resize: none;
}

.donate-submit {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 32px;
  font-size: 16px;
  border-radius: 8px;
  margin: 16px auto;
  transition: all 300ms ease;
}

.donate-links {
  position: absolute;
  top: 640px;
  left: 50%;
  transform: translateX(-50%);
}

.donate-learn {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 20px;
  margin-right: 24px;
  transition: all 300ms ease;
}

.donate-vol {
  color: #38d9c2;
  background-color: #ffffff;
  border: #d7d8de solid;
  padding: 12px 42px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 300ms ease;
}