/* information */

.info {
  padding-top: 150px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-right: 50px;
  padding-bottom: 32px;
}

.info-title {
  padding-top: 50px;
  font-size: 44px;
}

.info-para {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.info-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info-learn {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 300ms ease;
}

.info-vol {
  color: #38d9c2;
  background-color: #ffffff;
  border: #d7d8de solid;
  padding: 8px 42px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 300ms ease;
}

.info-fig {
  max-width: 500px;
  width: 100%;
}

.info-pic {
  width: 100%;
}

/* steps */

.steps-title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 60px;
}

.steps-box {
  display: flex;
}

.steps-fig {
  padding: 16px 24px;
  max-height: 360px;
  height: 100%;
}

.steps-pic {
  width: 100%;
}

.steps-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
}

.steps-steps {
  height: 360px;
}

.steps-step {
  font-size: 18px;
  padding: 16px 0px;
  width: 100%;
}

.steps-link {
  position: relative;
  color: #000000;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: underline;
}



@keyframes steps {
  0% {
    left: 0%;
    width: 100%;
  }

  50% {
    left: 100%;
    width: 0%;
  }

  51% {
    left: 0%;
    width: 0%;
  }

  100% {
    left: 0%;
    width: 100%;
  }
}

.steps-start {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 16px 0px;
  font-size: 18px;
  transition: all 300ms ease;
}

.steps-more {
  color: #000000;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
}

.steps-more:hover {
  text-decoration: underline;
}

@media (max-width: 786px) {
  .info {
    flex-direction: column;
    align-items: center;
  }

  .info-text {
    width: 100%;
    padding-right: 0px;
  }

  .info-links {
    flex-direction: column;
    height: 120px;
  }

  .info-learn,
  .info-vol {
    width: 100%;
  }
}