/* footer */

.footer-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3f;
  height: 416px;
}

.footer__nav {
  display: flex;
}

.footer__links {
  display: flex;
  flex-direction: column;
  padding: 0px 48px;
}

.links__title {
  color: #ffffff;
  padding: 16px 0px;
  font-family: 'Nunito Sans', sans-serif;
}

.footer__list-item {
  padding: 8px 0px;
}

.footer__link,
.links__social--icon,
.links__social--name,
.legal__link {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.footer__link:hover {
  text-decoration: underline;
}

.links__social {
  display: flex;
  align-items: center;
}

.links__social--icon {
  margin-right: 24px;
  font-size: 28px;
}

.footer__legal {
  display: flex;
  justify-content: left;
  padding-top: 32px;
  padding-left: 32px;
}

.legal__list-item {
  padding: 0px 16px;
}