/* footer */

footer {
  background-color: #3a3a3f;
  height: 378px;
}

.footer-bar,
.footer-contacts {
  display: flex;
}

.footer-contacts {
  flex-direction: column;
}

.footer-list {
  padding: 0px 50px;
}

.footer-connect {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  color: #ffffff;
  padding-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.footer-li {
  padding-bottom: 12px;
}

.footer-a,
.footer-icon,
.footer-text {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.footer-a:hover {
  text-decoration: underline;
}

.footer-contact {
  display: flex;
  align-items: center;
}

.footer-icon {
  margin-right: 24px;
  font-size: 28px;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding-left: 50px;
  padding-top: 20px;
}