/* navigation bar */

.nav-bar {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.nav-title {
  display: flex;
  max-width: 280px;
  width: 100%;
}

.nav-logo {
  max-width: 80px;
}

.nav-img {
  width: 100%;
}

.nav-venturo {
  width: 100%;
  max-width: 200px;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  padding: 0px 16px;
}

.nav-header {
  position: relative;
  color: #000000;
  font-size: 16px;
}

.nav-header::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -3px;
  left: 0px;
  background-color: #1d1e24;
  transform: scale(0);
  transition: all 200ms ease;
}

.nav-header:hover::after {
  transform: scale(1);
}

.nav-signin {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  margin: 12px 0px;
  padding: 8px 0px;
  width: 100px;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 200ms ease, border 200ms ease;
}

.nav-info {
  position: relative;
  max-height: 64px;
  width: 64px;
}

.nav-profile {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  height: 64px;
  width: 64px;
  font-size: 32px;
  border-radius: 50%;
  transition: background-color 200ms ease, border 200ms ease;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0px;
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 8px;
  opacity: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav-personal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 8px 0px 8px;
}

.nav-pfp {
  background-color: #38d9c2;
  border: #38d9c2 solid;
  color: #f8f8f8;
  margin-right: 12px;
  height: 64px;
  width: 64px;
  font-size: 32px;
  border-radius: 50%;
}

.nav-email,
.nav-manage {
  font-weight: 300;
  padding: 12px 0px;
}

.nav-manage {
  color: #000000;
  border-top: #444444 solid 2px;
  border-bottom: #444444 solid 2px;
}

.nav-signout {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  margin-top: 20px;
  padding: 4px 20px;
  border-radius: 20px;
  transition: all 300ms ease;
}