/* navigation bar */

.nav-bar {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.nav-title {
  display: flex;
  max-width: 280px;
  width: 100%;
}

.nav-logo {
  max-width: 80px;
}

.nav-img {
  width: 100%;
}

.nav-venturo {
  width: 100%;
  max-width: 200px;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  padding: 0px 16px;
}

.nav-signin {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  margin: 12px 0px;
  padding: 8px 0px;
  width: 100px;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 200ms ease, border 200ms ease;
}

.nav-profile {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  margin: 0px 18px;
  height: 64px;
  width: 64px;
  font-size: 32px;
  border-radius: 50%;
  transition: background-color 200ms ease, border 200ms ease;
}

.nav-header {
  position: relative;
  color: #000000;
  font-size: 16px;
}

.nav-header::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -3px;
  left: 0px;
  background-color: #1d1e24;
  transform: scale(0);
  transition: all 200ms ease;
}

.nav-header:hover::after {
  transform: scale(1);
}