/* navigation bar */

.nav-bar {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.nav__title {
  display: flex;
  width: 220px;
}

.nav__title__logo {
  width: 60px;
}

.nav__title__name {
  width: 160px;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__links__link {
  position: relative;
  color: #000000;
  font-size: 16px;
  margin: 0px 16px;
}

.nav__links__link::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -3px;
  left: 0px;
  background-color: #1d1e24;
  transform: scale(0);
  transition: all 200ms ease;
}

.nav__links__link:hover::after {
  transform: scale(1);
}

.nav__signin {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  margin: 12px 0px;
  padding: 8px 0px;
  width: 100px;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 200ms ease, border 200ms ease;
}

.nav__info {
  position: relative;
  text-align: center;
  max-height: 100px;
  width: 100px;
}

.nav__info__profile-picture {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  height: 64px;
  width: 64px;
  font-size: 32px;
  border-radius: 50%;
  transition: background-color 200ms ease, border 200ms ease;
}

.nav__info__dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0px;
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 8px;
  opacity: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.nav__2);
}

.nav__info__personal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 8px 0px 8px;
}

.nav__personal__profile-picture {
  background-color: #38d9c2;
  border: #38d9c2 solid;
  color: #f8f8f8;
  margin-right: 12px;
  height: 64px;
  width: 64px;
  font-size: 32px;
  border-radius: 50%;
}

.nav__info__email,
.nav__info__manage {
  font-weight: 300;
  padding: 12px 0px;
}

.nav__info__manage {
  color: #000000;
  border-top: #444444 solid 2px;
  border-bottom: #444444 solid 2px;
}

.nav__info__signout {
  color: #ffffff;
  background-color: #38d9c2;
  border: #38d9c2 solid;
  margin-top: 20px;
  padding: 4px 20px;
  border-radius: 20px;
  transition: all 300ms ease;
}

.nav__burger__menu {
  position: absolute;
  top: 100px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 786px) {
  .nav__links {
    display: none;
  }

  .nav__signin {
    display: none;
  }

  .nav__info {
    display: none;
  }

  .nav__burger__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }

  .nav__burger {
    width: 24px;
    height: 2px;
    background-color: #000000;
    transition: all 300ms ease;
  }

  .nav__burger::before,
  .nav__burger::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000000;
    transition: all 300ms ease;
  }

  .nav__burger::before {
    transform: translate(-12px, -8px);
  }

  .nav__burger::after {
    transform: translate(-12px, 8px);
  }

  .open .nav__burger {
    background: transparent;
  }

  .open .nav__burger::before {
    transform: rotate(-45deg) translate(-8px, -8px);
  }

  .open .nav__burger::after {
    transform: rotate(45deg) translate(-8px, 8px);
  }
}

@media (max-width: 480px) {}